name: Build and publish Elm Silent Teacher

on:
  workflow_dispatch:
  push:
    paths:
    - "implement/pine/Elm/**"
    - ".github/workflows/build-and-publish-elm-silent-teacher.yml"

jobs:
  build-and-deploy:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v5

    - name: download build tool
      run: |
        pwsh -nologo -noprofile -command "Invoke-WebRequest 'https://github.com/pine-vm/pine/releases/download/v0.4.23/pine-bin-v0.4.23-linux-x64.zip' -OutFile pine-bin-linux-x64.zip"
        pwsh -nologo -noprofile -command "& { Add-Type -A 'System.IO.Compression.FileSystem'; [IO.Compression.ZipFile]::ExtractToDirectory('pine-bin-linux-x64.zip','./pine');}"

    - name: install build tool
      run: |
        chmod  +x  ./pine/pine
        sudo  ./pine/pine  install

    - name: Build for Netlify
      working-directory: ./implement/pine/Elm/learn-elm
      run: |
        pine  make  src/Frontend/ElmSilentTeacher/Build.elm  --output=netlify.zip
        pwsh -nologo -noprofile -command "& { Add-Type -A 'System.IO.Compression.FileSystem'; [IO.Compression.ZipFile]::ExtractToDirectory('netlify.zip','./out/netlify');}"

    - name: Deploy to Netlify
      working-directory: ./implement/pine/Elm/learn-elm
      run: |
        npm  install  netlify-cli  --global
        netlify  deploy  --dir ./out/netlify  --site silent-teacher  --alias preview  --auth  ${{ secrets.WEBSITE_NETLIFY_AUTH_TOKEN }}
