name: Build and publish website PineVM

on:
  workflow_dispatch:
  push:
    paths:
    - "implement/website/pinevm/**"
    - ".github/workflows/build-and-publish-website-pinevm.yml"

jobs:
  build-and-deploy:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: download build tool
      run: |
        pwsh -nologo -noprofile -command "Invoke-WebRequest 'https://github.com/pine-vm/pine/releases/download/v0.4.11/pine-bin-v0.4.11-linux-x64.zip' -OutFile pine-bin-linux-x64.zip"
        pwsh -nologo -noprofile -command "& { Add-Type -A 'System.IO.Compression.FileSystem'; [IO.Compression.ZipFile]::ExtractToDirectory('pine-bin-linux-x64.zip','./pine');}"
    - name: install build tool
      run: |
        chmod  +x  ./pine/pine
        sudo  ./pine/pine  install

    - name: Build for Netlify
      working-directory: ./implement/website/pinevm
      run: |
        pine  make  src/Netlify.elm  --output=netlify.zip
        pwsh -nologo -noprofile -command "& { Add-Type -A 'System.IO.Compression.FileSystem'; [IO.Compression.ZipFile]::ExtractToDirectory('netlify.zip','./out/netlify/docs');}"

    - name: Deploy to Netlify
      working-directory: ./implement/website/pinevm
      run: |
        npm  install  netlify-cli  --global
        netlify  deploy  --dir ./out/netlify/docs  --site pinevm-org  --alias preview  --auth  ${{ secrets.WEBSITE_NETLIFY_AUTH_TOKEN }}
